/* GÉNÉRAL */
div.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.margtop-1 {
  margin-top: 1rem;
  backgrounnd-color: red;
}
.margtop-2 {
   margin-top: 2rem; 
}
.pad {
    padding-top: 5rem;
}
.pad2 {
    padding-bottom: 5rem;
}

/* ACCUEIL */
.marg-carrousel {
    margin-top: 1rem;
}
.text-center{
    text-align: center;
}

/* INSCRIPTION */
.birthdate-center {
    text-align: center;
}
.pad-button {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.button-space{
    padding-right: 1rem;
}

/* PROFILS */
.align-insc {
  text-align: center;
}
.check-align {
  margin: 0 auto;
  width: 100px;
}
.pad-lr {
  padding-left: 5rem;
  padding-right: 1rem;
}
.pad-top {
  padding-top: 1rem;
}
.pad-box {
  padding-left: 1rem;
}

/* NAVBAR */

/* FOOTER */
body
{
  padding:0;margin:0;
}
a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1C1D21
}
.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}
.footer-logo>a>img {
    max-height: 80px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}
.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}
.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  color:#868F9B;
}